form {
    width: 100%;
    height: auto;
    overflow: auto;
    margin: 0;
    padding: 0;
}
img {
    width: 150px;
    height: 125px;
}

#content
{
    width: 60%;
    margin-left: 20%;
    overflow: auto;
}
#image {
    width: 150px;
    height: 125px;
    float: left;
}
#productName {
    width: 150px;
    height: 125px;
    float: left;
    line-height: 125px;
    text-align: center;    
}
#aantal {
    width: 100px;
    height: 125px;
    float: left;
}
#verwijderen {
    width: 110px;
    height: 125px;
    float: left;
}
#prijs {
    width: 100px;
    height: 125px;
    float: left;
    line-height: 125px;
}
#totaalPrijs {
    width: 100px;
    height: 125px;
    float: left;
    line-height: 125px;
    margin-bottom: 30px;
}
#shoppingCart-total
{  
    width: 50%;
    margin-left: 50%;
    border: solid black 1px;
    overflow: auto;
}
#artikelnummerAfrekenen {
    width: 150px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#artikelnaamAfrekenen {
    width: 150px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#aantalAfrekenen {
    width: 50px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#prijsAfrekenen {
    width: 100px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#totaalprijsAfrekenen {
    width: 100px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#btwprijsAfrekenen {
    width: 100px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#totaalAfrekenen {
    width: 40%;
    float: right;
    border: solid 1px black;
}
#item {
    width: 100%;
    height: auto;
    overflow: auto;
}

.p {
    width: 50% !important;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    float: left;
}
.font-weight {
    font-weight: bold;
}
.align-center {
    text-align: center;
}
.margin-bottom {
    margin-bottom: 20px;    
}
.button-color 
{
    background-color: #FF9900;
}
.bold
{
    font-weight: bold;
}
.font-size
{
    font-size: 16px;
}
.p-left
{
    width: 60%;
    margin-left: 5%;
    height: 25px;
    line-height: 25px;
    float: left;
}
.p-right
{
    width: 35%;
    height: 25px;
    line-height: 25px;
    float: right;
}
.button-verwijderen {
    margin-top: 50px;
}
.txt-aantal {
    margin-top: 50px;
}
.btn-betalen {
    background-color: #FF9900;
    float: right;
    margin-right: 15px;
    margin-bottom: 15px;
}
.text-align {
    text-align: center;
}
.h1-margin {
    margin-bottom: 50px;
}
.margin-top {
    margin-top: 0px;
}
.p-20 {
    width: 20% !important;
    padding: 0px;
    margin: 0px;
    float: left;
}

@media (max-width: 494px) {
    .margin-top {
        margin-top: 15px;
    }
}

@media (max-width: 887px) {
    #totaalPrijs {
        height: 50px;
        line-height: 50px;
    }
}
@media (max-width: 772px) {
    #prijs {
        height: 50px;
        line-height: 50px;
    }
    #totaalPrijs {
        height: 50px;
        line-height: 50px;
    }
}
@media (max-width: 637px) {
    #verwijderen {
        height: 50px;
        margin: 0;
    }
    #prijs {
        height: 50px;
        line-height: 50px;
    }
    #totaalPrijs {
        height: 50px;
        line-height: 50px;
    }

    .button-verwijderen 
    {
        margin-top: 10px;
    }
}
@media (max-width: 600px) {
    #shoppingCart-total {
        width: 100%;
        margin: 0;
    }
}

@media (max-width: 499px) {
    #aantal {
        height: 50px;
        margin: 0;
    }
    #verwijderen {
        height: 50px;
        margin: 0;
    }
    #prijs {
        height: 50px;
        line-height: 50px;
    }
    #totaalPrijs {
        height: 50px;
        line-height: 50px;
    }

    .txt-aantal {
        margin-top: 15px;
    }
    .button-verwijderen 
    {
        margin-top: 10px;
    }
}
@media (max-width: 374px) {
    #productName {
        height: 50px;
        line-height: 50px;
    }
    #aantal {
        height: 50px;
        margin: 0;
    }
    #verwijderen {
        height: 50px;
        margin: 0;
    }
    #prijs {
        height: 50px;
        line-height: 50px;
    }
    #totaalPrijs {
        height: 50px;
        line-height: 50px;
    }

    .txt-aantal {
        margin-top: 15px;
    }
    .button-verwijderen 
    {
        margin-top: 10px;
    }
}

@media (max-width: 922px) {
    #totaalAfrekenen {
        width: 60%;
    }
}

@media (max-width: 624px) {
    #totaalAfrekenen {
        width: 70%;
    }
}

@media (max-width: 539px) {
    #totaalAfrekenen {
        width: 80%;
    }
}

@media (max-width: 476px) {
    #totaalAfrekenen {
        width: 90%;
    }
}