form {
    height: auto;
    overflow: auto;
}

#content {
    width: 50%;
    margin: auto;
}
#content p {
    width: 50% !important;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    float: left;
}
#item {
    width: 100%;
    height: auto;
    overflow: auto;
}

.text-align {
    text-align: center;
}
.h1-margin {
    margin-bottom: 50px;
}
.font-weight {
    font-weight: bold;
}
.button-color 
{
    background-color: #FF9900;
}
.margin-top {
    margin-top: 0px;
}