

#content {
    width: 50%;
    margin: auto;
}
#content p {
    width: 50% !important;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    float: left;
}

.font-weight {
    font-weight: bold;
}
.text-align {
    text-align: center;
}
.h1-margin {
    margin-bottom: 50px;
}
.float-right {
    float: right;
}
.button-color 
{
    background-color: #FF9900;
}