

#content {
    width: 70%;
    margin-left: 15%;
    float: left;
}
#artikelnummer {
    width: 150px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#artikelnaam {
    width: 150px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#aantal {
    width: 50px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#prijs {
    width: 100px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#totaalprijs {
    width: 100px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#btwprijs {
    width: 100px;
    height: 50px;
    float: left;
    line-height: 50px;
}
#totaal {
    width: 40%;
    float: right;
}

.text-align {
    text-align: center;
}
.h1-margin {
    margin-bottom: 50px;
}
.btn-betalen {
    background-color: #FF9900;
    float: right;
}

@media (max-width: 922px) {
    #totaal {
        width: 60%;
    }
}

@media (max-width: 624px) {
    #totaal {
        width: 70%;
    }
}

@media (max-width: 539px) {
    #totaal {
        width: 80%;
    }
}

@media (max-width: 476px) {
    #totaal {
        width: 90%;
    }
}