#headerContainer
{
	max-width: 1000px;
	width:100%;
	height:auto;
	float:left;
	padding:5px;
	background-color: #333333;
}

#logo
{
	height:	75px;
	margin-left: 50px;
}

.loginButton
{
	color:#ff6600;
}


.shoppingCart
{
	margin-top: 25px;
	width:35px;
	height:35px;
	float:left;
}

.cartCount
{
	margin-top:25px;
	margin-left: 5px;
	margin-right: 50px;
	float:left;
	color:#ff6600;
	font-size: 20px;
}

#header
{
	width:auto;
	float:left;
	margin-left:15px;
	height:auto;
	font-family:header;
	font-size:18px;
}

	#header a
	{
		color:	white;
		text-decoration:none;
	}
	
	#header li:hover
	{
		border-bottom:5px solid #FF9900;
	}
	
	#header ul
	{
		list-style:none;
		margin-top:15px;
		padding:0;
		float:left;
	}
	
	#header li
	{
		width:auto;
		height:35px;
		float:left;
		padding:0px 18px;
		text-align: center;
	}


/*Responsive*/
@media screen and (max-width:600px)
{
	.hamburger 
	{
		cursor: pointer;
		padding: 15px;
		display: block;
		float:right;
		margin-top:30px;
		margin-right:15px;
  	}
	
	.line 
  	{
		border-bottom: 4px solid #bbb;
		width: 35px;
		margin-bottom: 6px;
  	}
	
	#header
	{
		height:0;
		width:0;
		overflow:hidden;
		margin:0;
		float:right;
		padding:0;
	}
	
	#header li
	{
		width:100%;	
		height:35px;
		background: #5A5959;
		border-bottom:1px solid white;
		text-align:center;
		margin:0;
		line-height: 35px;
	}
	
	#header ul
	{
		margin:0;
		float:none;
	}
	
	#headerImg
	{
		float:none;
		width:205px;
		margin-left:125px;
		padding:0;
	}
	
	#shoppingCart
	{
		margin-left: 25px;
	}
	
	.open
	{
		height:auto !important;
		width:100% !important;
		max-width:100%;
		float:none;
	}

	#logo
	{
		margin:17px 0 0 15px;
		height:50px;
	}
}
